<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AI Upsurge</title>
    </head>
    <style>
        body{
            padding: 0px;
            justify-content: center;
            align-items: center;
            transition: opacity 1s ease-in;
            color: rgb(51, 115, 115);
            margin: 0;
            background-image: url('upsurge.jpeg');
            background-size: cover;
            background-position: center;
            transition: opacity 0.5s ease-in-out;
        }
        .fade-in{
            opacity: 0;
        }
        .container{
            width: 70%;
            margin: 0 auto;
            text-align: justify;
            border: 0.2cm solid black;
            padding: 20x;
            background-color: rgb(186, 185, 185);
        }
    </style>
    <body>
        <div class="container">
            <h1 style="text-align: center;">AI Upsurge</h1>
            <p style="color: black;">
                Artificial Intelligence (AI) refers to intelligent machines that can mimic human cognitive functions like learning and problem-solving.
                It is a branch of computer science focused on creating intelligent machines capable of mimicking human cognitive functions like learning and problem-solving.
                <br><br>
                <b>Key advancements:</b><br>
                a)Natural Language Processing (NLP):<br> NLP has revolutionised the way
                computers interact with human language. With advancements in NLP techniques like
                word embeddings and transformers, AI systems can now understand, generate, and
                translate human language with remarkable accuracy. Examples include Google's
                BERT, OpenAI's GPT models, and the development of voice assistants like
                Amazon's Alexa or Apple's Siri.
                <br>
                b) Reinforcement Learning (RL):<br> RL involves training AI agents to make decisions
                in dynamic environments by trial and error. Breakthroughs in RL have led to
                significant advancements in robotics, autonomous vehicles, and game playing. For
                instance, AlphaGo, developed by DeepMind, defeated world champion Go player
                Lee Sedol in 2016, demonstrating the power of RL in complex decision-making
                Tasks.
                <br>
                c) Generative AI:<br> Generative models, such as Generative Adversarial Networks
                (GANs) and Variational Autoencoders (VAEs), have enabled computers to generate
                realistic images, videos, and even text. These models have applications in various
                fields, including art, entertainment, and content creation. Examples include the
                creation of deep fake videos and the generation of lifelike images by StyleGAN.

                <br>
                <br>
                <b>AI Upsurge</b><br>
                Artificial Intelligence (AI) has experienced a remarkable upsurge in recent years, driven by advancements in machine learning algorithms, computational power, and data availability. AI technologies are transforming industries across the globe, from healthcare and finance to transportation and entertainment.
                <div style="text-align: center;">
                    <img src="https://cdn.buttercms.com/output=f:webp/HO53Ut9VTru5DaxUCioy" width="300"  height="300" style="text-align: center;"><br>
                    <p style="text-align: center; color: black;">(Figure 1: - AI market size is expected to reach $407 billion by 2027)</p>
                    <a href="https://explodingtopics.com/blog/ai-statistics">Click here for source</a><br><br>
                    <img src="https://www.notta.ai/pictures/chatgpt-statistics-01.png" width="300" height="300" >
                    <p style="text-align: center; color: black;">(Figure 2: - ChatGPT had 1 million users within the first five days of being available)</p>
                    <a href="https://www.notta.ai/en/blog/chatgpt-statistics">Click here for source</a><br><br>
                    <br>
                    <button onclick="navigateTo('index.html')" class="btn btn-primary" style="background-color: rgb(11, 179, 191);">Back to Home</button>
                    <button onclick="navigateTo('llm.html')" class="btn btn-primary" style="background-color: rgb(188, 188, 65);">LLMs</button>
                    <button onclick="navigateTo('creation.html')" class="btn btn-primary" style="background-color: rgb(237, 84, 84);">Creation</button>
                    <button onclick="navigateTo('usage.html')" class="btn btn-primary" style="background-color: rgb(11, 191, 68);">Usage</button>
                </div>
            </p>
        </div>
        <script>
            function navigateTo(href) {
              document.body.classList.add('fade-in');
              setTimeout(function() {
                window.location = href;
                }, 500);
            }
          </script>
    </body>
</html>